.editProfile {
  margin-top: 20vh;
  font-family: reg;
}

.editProfile_img {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.editProfile_img img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}

@media (max-width: 1024px) {
  .editProfile {
    margin-top: 12vh;
  }

  .editProfile_img {
    margin-bottom: 20px;
  }

  .editProfile_img img {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 640px) {
  .editProfile_img {
    flex-direction: column;
  }
}
