.modalUser {
  position: fixed;
  top: -100%;
  right: 0;
  width: 20%;
  border-radius: 20px;
  border: 3px solid #066283;
  background: #fff;
  z-index: 1000;
  margin-right: 4%;
  padding: 10px 10px;
  text-align: center;
  font-family: reg;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: top 0.3s ease;
}

.modalUser.active {
  top: 13vh;
  display: flex;
}

.modalUser_img {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #066283;
}

.modalUser p:nth-child(2) {
  font-size: 16px;
}

.modalUser p:nth-child(3) {
  font-size: 14px;
}

.modalUser p:nth-child(4) {
  font-size: 12px;
}

.modalUser_action {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.modalUser_action_setting {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  background: #066283;
  padding: 5px;
  gap: 10px;
  cursor: pointer;
}

.modalUser_action_setting p {
  font-family: reg;
  color: white;
  font-size: 12px !important;
}

.modalUser_action .logout {
  cursor: pointer;
  background-color: red;
  font-family: reg;
  color: white;
  width: 70%;
  font-size: 12px !important;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 1024px) {
  .modalUser {
    width: 20%;
    border-radius: 10px;
    margin-right: 4%;
    padding: 5px;
    gap: 2px;
  }

  .modalUser.active {
    top: 9vh;
  }

  .modalUser_img {
    background-color: #066283;
    width: 130px;
    height: 130px;
    border-radius: 10px;
  }

  .modalUser p:nth-child(2) {
    font-size: 14px;
  }

  .modalUser p:nth-child(3) {
    font-size: 12px;
  }

  .modalUser p:nth-child(4) {
    font-size: 11px;
  }

  .modalUser_action {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }

  .modalUser_action_setting,
  .modalUser_action label {
    width: 80%;
    border-radius: 10px;
    padding: 3px;
    gap: 2px;
  }

  .modalUser_action_setting p {
    font-size: 12px !important;
  }

  .modalUser_action .logout {
    width: 80%;
  }
}

@media (max-width: 640px) {
  .modalUser {
    width: 50%;
  }

  .modalUser.active {
    top: 9vh;
  }
}
