.konsultasi {
  margin-top: 15vh;
  margin-left: 27%;
  font-family: reg;
  padding-right: 40px;
}

.konsultasi p:nth-child(1) {
  font-family: semi;
  font-size: 20px;
  color: #066283;
}

.konsultasi_search {
  border-radius: 8px;
  border: 2px solid #066283;
  width: 45%;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 1px 1px 0px rgba(6, 98, 131, 0.5);
  gap: 10px;
  padding: 3px 5px;
}

.konsultasi_search input {
  width: 100%;
  outline: none;
  font-size: 14px;
}

.konsultasi_content {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.konsultasi_content_left {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.konsultasi_content_left_user {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 10px;
  cursor: pointer;
}

.konsultasi_content_left_user_img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.konsultasi_content_left_user_desc p:nth-child(1) {
  font-size: 16px;
  font-family: semi;
}

.konsultasi_content_left_user_desc p:nth-child(2) {
  font-size: 14px;
}

.konsultasi_content_right {
  flex: 1;
}

/* konsultasi chat */
.konsultasi_content_right {
  border-radius: 10px;
  border: 2px solid #066283;
  overflow: hidden;
  margin-top: -80px;
}

.chatKonsultasi_profile {
  background-color: #066283;
}

.chatKonsultasi_profile_desc p {
  color: aliceblue !important;
}

.chatKonsultasi_chat {
  /* height: 65vh; */
}

.objectChat {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
