.wraperProfil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  background-color: #d2e9f1;
  height: 60vh;
  overflow: hidden;
  padding: 0 7%;
  position: relative;
  margin-top: 12vh;
  font-family: reg;
}

.wraperProfil_user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.wraperProfil_user_img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.wraperProfil_user_desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wraperProfil_user_desc_user p:nth-child(1) {
  font-family: semi;
  font-size: 20px;
}

.wraperProfil_user_desc_user p:nth-child(2) {
  color: var(--blue-grey-50, #697579);
  font-size: 16px;
}

.wraperProfil_user_desc_place {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wraperProfil_user_action {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wraperProfil_user_action {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wraperProfil_user_action a:nth-child(1) {
  background: #066283;
  color: white;
}

.wraperProfil_user_action button:nth-child(2) {
  background-color: #e10000;
  color: white;
}

@media (max-width: 1024px) {
  .wraperProfil {
    margin-top: 8vh;
    height: 30vh;
    padding: 0 5%;
    align-items: start;
  }

  .wraperProfil_user_img {
    width: 150px;
    height: 150px;
  }

  .wraperProfil_user_desc {
    gap: 5px;
  }

  .wraperProfil_user_desc_user p:nth-child(1) {
    font-size: 18px;
  }

  .wraperProfil_user_desc_user p:nth-child(2) {
    font-size: 16px;
  }

  .wraperProfil_user_desc_user p:nth-child(3) {
    font-size: 14px;
  }

  .wraperProfil_user_desc_place p {
    font-size: 14px;
  }

  .wraperProfil_user_action {
    flex-direction: row;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .wraperProfil {
    flex-direction: column;
    height: 40vh;
    gap: 0;
  }

  .wraperProfil_user_img {
    width: 120px;
    height: 120px;
  }

  .wraperProfil_user_desc {
    flex: 1.3;
  }

  .wraperProfil_user_desc_place {
    gap: 5px;
  }

  .wraperProfil_user_desc_user {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .wraperProfil_user_desc_user p:nth-child(1) {
    font-size: 16px;
  }

  .wraperProfil_user_desc_user p:nth-child(2) {
    font-size: 14px;
  }

  .wraperProfil_user_desc_user p:nth-child(3) {
    font-size: 12px;
  }

  .wraperProfil_user_desc_place p {
    font-size: 12px;
  }
}
